
.container {
    padding: 0;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
.col-md-9 {
    padding: 0;
}
.col-md-3 {
    padding: 0;
}
.col-md-12 {
    padding: 0;
}
.btn-block {
    border: 2px solid black;
    padding: 0.4em 0;
    border-radius: 0.4em;
}
.form-control {
    border: 2px solid black;
    padding: 0.2em 0;
    height: 2.5em;
}
.col-md-4 {
    padding: 0;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    height: 100vh;
}
.col-md-4:not(h2){
    border: 2px solid black;

}

.col-md-4 h2 {
    border-bottom: 2px solid black;
    width: 100%;
    text-align: center;
}
#first {
    margin-left: -0.3em;
    width: 55px;
    height: 55px;
    position: absolute;
}
.col-md-4 li {
    list-style: none;
    padding: 2em;
}
.col-md-4 li:hover {
    background-color: silver;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-right: 3em;
}
.glyphicon-remove-sign {
    margin-left: 10em;
    cursor: pointer;
}
/*#middle:not(.timer) {
    /*display: flex;
    flex-direction: column;*/
    /*align-items: center;*/
    /*flex-wrap: nowrap;*/
/*}*/
.timer, .timer-done, .timer-loop {
    display: flex;
    font-size: 30px;
    color: black;
    font-weight: bold;
    /*padding: 10px;*/
    justify-content: center;
    border: 2px solid black;
    border-radius: 0.5em;
    width: 70%;
    margin: 1em 1.9em;
 }

 /*// These are the default CSS classes
 // used by this plugin. Use these values
 // for a basic style to get started.*/
 .jst-hours {
   float: left;
 }
 .jst-minutes {
   float: left;
 }
 .jst-seconds {
   float: left;
 }
 .jst-clearDiv {
   clear: both;
 }
 .jst-timeout {
   color: red;
 }
#middle button {
    margin: 2em;
    border: 2px solid black;
    border-radius: 0.5em;
}
#second {
    margin-left: -0.3em;
    width: 55px;
    height: 55px;
    position: absolute;
}
