
.container {
    padding: 0;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
.col-md-9 {
    padding: 0;
}
.col-md-3 {
    padding: 0;
}
.col-md-12 {
    padding: 0;
}
.btn-block {
    border: 2px solid black;
    padding: 0.4em 0;
    border-radius: 0.4em;
}
.form-control {
    border: 2px solid black;
    padding: 0.2em 0;
    height: 2.5em;
}
.col-md-4 {
    padding: 0;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    height: 100vh;
    border: 2px solid black;
}
.col-md-4 h2 {
    border-bottom: 2px solid black;
    width: 100%;
    text-align: center;
}
#first {
    margin-left: -0.3em;
    width: 55px;
    height: 55px;
    position: absolute;
}
.col-md-4 li {
    list-style: none;
    padding: 2em;
}
.col-md-4 li:hover {
    background-color: silver;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-right: 3em;
}
.glyphicon-remove-sign {
    margin-left: 10em;
    cursor: pointer;
}
#hms_timer {
    display: flex;
    font-size: 30px;
    color: white;
    font-weight: bold;
    /*padding: 10px;*/
    justify-content: center;
    border: 2px solid black;
    border-radius: 0.5em;
    width: 70%;
    margin: 1em 1.9em;
    background-color: black;
    font-family: sans-serif;
    
 }
h3 {
    text-align: center;
}
#middle button {
    margin: 2em;
    border: 2px solid black;
    border-radius: 0.5em;
}
#second {
    margin-left: -0.3em;
    width: 55px;
    height: 55px;
    position: absolute;
}
